<section class="hero is-primary">
    <div class="hero-body">
        <div class="container">
        <h1 class="title">

        <h1>Main Component</h1>
        </h1>
        <h2 class="subtitle">
        </h2>
        </div>
    </div>
</section>

<section>
    <div class="container content">
        <div class="columns">
            <div class="column">
                <h1>Servers</h1>
            </div>
        </div>
        <div class="columns">
            <div class="column">
                <app-servers></app-servers>
            </div>
        </div>
    </div>
</section>